<h1>Collaborators</h1>

<%= form_for [@wiki, @collab] do |f| %>
	<div class='form-group'>
		<%= f.label :email %>
		<%= f.text_field :email, class: 'form-control' %>
	</div>
	<%= f.submit "Add", class: 'btn btn-success' %>
<% end %>
Current Collaborators (click to remove): 
<% @wiki.collaborators.each do |col| %>
	<br><%= link_to col.user.name, [@wiki, col], method: :delete %>
<% end %>
<p><%= link_to "Back", edit_wiki_path(@wiki) %></p>