= form_for wiki do |f|
  -if wiki.errors.any?
    %h4 Whoopsie!
    %ul
      - wiki.errors.full_messages.each do |msg|
        %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: "Name of exercise?"
  .form-group
    = f.label :body
    = f.text_area :body, class: 'form-control', placeholder: "And how do we do it?"
  - if current_user.role == 'premium' || current_user.role == 'admin'
    .form-group
      = f.check_box :private
      Private?
    = f.submit "Save", class: 'btn btn-success'