<h1><%= @wiki.title %></h1>
<h6>Created by: <%= @wiki.user.name %></h6>
<p>Private? <%= @wiki.private %>
<p><%= @wiki.body %></p>
<%= link_to "edit", edit_wiki_path(@wiki) %>
<%= link_to "delete", wiki_path(@wiki), method: :delete %>